
#sudo cp sousVide.service /lib/systemd/system/sousVide.service
#sudo chmod 644 /lib/systemd/system/myscript.service
#sudo systemctl daemon-reload
#sudo systemctl enable myscript.service

[Unit]
Description=Start the SousVide controller and Webserver
After=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/tmux new-session -s sousVide -d /opt/sousVide/sousVide.sh


[Install]
WantedBy=multi-user.target
